{% extends "includes/base.twig" %}

{% block content %}
  <main role="main">
  {% for page in pages(depth=null)|sort_by(["modificationTime"])|reverse if page.meta.template == "post" and not page.hidden %}
    {{ include("includes/card.twig") }}
  {% endfor %}
</main>
{% endblock %}
