{% extends "base.twig" %}

{% block content %}
{% autoescape %}

<main id="main" class="lock">
    <form method="POST" action="{{ auth.vars.unlock_action }}">
        {{ csrf_field("unlock") }}
        <input type="password" name="page-key" placeholder="geslo" autocomplete="off" required>
        <button type="submit">vstopi</button>
    </form>
</main>

{% endautoescape %}
{% endblock %}
