{% extends "includes/base.twig" %}

{% block content %}
<main role="main">
  <article lang="{{ meta.lang ? meta.lang : 'sl' }}">
    <header>
      <h1>
        {{ meta.title }}
      </h1>
      {{ include( "includes/address.twig", { author: meta.author, source: meta.source, time: modificationTime } ) }}
    </header>
    {{ content }}
  </article>
  <!-- TODO: related pages -->
</main>
{% endblock %}
