<a href="{{ page.url }}" class="card">
  <article>
    <h2>
      {{ page.title }}
    </h2>

    {{ include( "includes/address.twig", { author: page.author, source: page.meta.source, time: page.date } ) }}

    {% if page.description %}
      <blockquote>
        {{ page.description|markdown }}
      </blockquote>
    {% endif %}
  </article>
</a>
