<nav role="navigation" tabindex="-1" id="nav">
<!-- internal navigation -->
  <ul class="flex-nav">
    {% for page in pages(depth=null)|sort_by(["listing"]) if page.meta.template != "post" %}
    <li>
      <a
        href="{{ page.url }}"
        class={{ page.id == current_page.id ? "active" : ""}}
      >
        {{ page.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
<!-- external navigation -->
<!-- TODO -->
</nav>
